/* Footer Styles */
.footer {
    background-color: #1e1e1e;
    padding: 50px 0;
    color: #fcd69e;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-family: 'Bangers', sans-serif;
    font-size: 1.5rem;
    color: #fcd69e;
    margin-bottom: 20px;
    position: relative;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    font-family: 'Patrick Hand', sans-serif;
    color: #fcd69e;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: #e5ac57;
    padding-left: 8px;
}

.social-link {
    display: flex;
    gap: 10px;
}

.social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #fcd69e;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #1e1e1e;
    transition: all 0.3s ease;
}

.social-link a:hover {
    color: #fcd69e;
    background-color: #e5ac57;
}

.copyright {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
    color: #fcd69e;
    font-family: 'Patrick Hand', sans-serif;
}

/* Responsive styles */
@media (max-width: 860px) {
    
    .footer-links {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-links {
        width: 100%;
    }
}