<div class="center-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form">
        <h2>Crear nueva contraseña</h2>
  
        <label for="password">Nueva contraseña:</label>
        <div class="controls">
          <input
            formControlName="password"
            [type]="passwordFieldType"
            id="password"
            placeholder="Ingrese su contraseña"
            class="form-control"
            required
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </button>
        </div>
  
        <small *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
          *Contraseña es requerida
        </small>
        <small *ngIf="form.get('password')?.hasError('pattern') && form.get('password')?.touched">
          *La contraseña no debe tener espacios en blanco
        </small>
        <small *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.touched">
          *La contraseña no puede tener más de {{ form.get('password')?.errors?.['maxlength']?.requiredLength }} caracteres
        </small>
  
        <p class="text-white mb-2 password-rules-title">
          <i class="bi"></i> La contraseña debe tener al menos:
        </p>
        <ul class="password-rules">
          <li [ngClass]="{'text-success': passwordValidations.minLength, 'text-danger': !passwordValidations.minLength}">
            <i class="bi" [ngClass]="passwordValidations.minLength ? 'bi-check-circle-fill' : 'bi-x-circle-fill'"></i>
            8 caracteres
          </li>
          <li [ngClass]="{'text-success': passwordValidations.upperAndLowerCase, 'text-danger': !passwordValidations.upperAndLowerCase}">
            <i class="bi" [ngClass]="passwordValidations.upperAndLowerCase ? 'bi-check-circle-fill' : 'bi-x-circle-fill'"></i>
            Una letra mayúscula y una minúscula
          </li>
          <li [ngClass]="{'text-success': passwordValidations.specialCharOrNumber, 'text-danger': !passwordValidations.specialCharOrNumber}">
            <i class="bi" [ngClass]="passwordValidations.specialCharOrNumber ? 'bi-check-circle-fill' : 'bi-x-circle-fill'"></i>
            Un número o carácter especial (ejemplo: !,&#64;,#,$)
          </li>
        </ul>
  
        <label for="confirmPassword">Confirmar contraseña nueva:</label>
        <div class="controls">
          <input
            formControlName="confirmPassword"
            [type]="confirmPasswordFieldType"
            id="confirmPassword"
            placeholder="Ingrese de nuevo su contraseña"
            class="form-control"
            required
          />
          <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <i [ngClass]="confirmPasswordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </button>
        </div>
  
        <small *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
          *Confirmación de contraseña es requerida
        </small>
        <small *ngIf="form.get('confirmPassword')?.hasError('passwordsMismatch') && form.get('confirmPassword')?.touched">
          *Las contraseñas no coinciden
        </small>
  
        <div class="button-container">
          <button type="submit" class="boton-form" [disabled]="form.invalid">Confirmar</button>
          <button type="button" class="boton-form2">Volver</button>
        </div>
      </div>
    </form>
</div>
    
