<div class="center-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form">
      <h2 style="color: #fff;">Cambiar contraseña</h2>

      <label for="currentPassword">Contraseña actual:</label>
      <div class="controls">
        <input
          formControlName="currentPassword"
          [type]="currentPasswordFieldType"
          id="currentPassword"
          placeholder="Ingrese su contraseña actual"
          class="form-control"
          required
        />
        <button type="button" class="toggle-password" (click)="toggleCurrentPasswordVisibility()" tabindex="-1">
          <i [ngClass]="currentPasswordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      <small *ngIf="form.get('currentPassword')?.hasError('required') && form.get('currentPassword')?.touched">
        *Contraseña actual es requerida
      </small>

      <label for="newPassword">Nueva contraseña:</label>
      <div class="controls">
        <input
          formControlName="newPassword"
          [type]="newPasswordFieldType"
          id="newPassword"
          placeholder="Ingrese su nueva contraseña"
          class="form-control"
          required
        />
        <button type="button" class="toggle-password" (click)="toggleNewPasswordVisibility()" tabindex="-1">
          <i [ngClass]="newPasswordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      <small *ngIf="form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched">
        *Nueva contraseña es requerida
      </small>
      <small *ngIf="form.get('newPassword')?.hasError('minlength') && form.get('newPassword')?.touched">
        *Debe tener al menos 8 caracteres
      </small>
      <small *ngIf="form.get('newPassword')?.hasError('maxlength') && form.get('newPassword')?.touched">
        *No puede tener más de 30 caracteres
      </small>
      <small *ngIf="form.get('newPassword')?.hasError('pattern') && form.get('newPassword')?.touched">
        *No debe tener espacios en blanco
      </small>
      <small *ngIf="form.get('newPassword')?.touched && !passwordValidations.upperAndLowerCase">
        *Debe tener una letra mayúscula y una minúscula
      </small>
      <small *ngIf="form.get('newPassword')?.touched && !passwordValidations.specialCharOrNumber">
        *Debe tener un número o carácter especial (ejemplo: !,&#64;,#,$)
      </small>

      <label for="confirmPassword">Confirmar nueva contraseña:</label>
      <div class="controls">
        <input
          formControlName="confirmPassword"
          [type]="confirmPasswordFieldType"
          id="confirmPassword"
          placeholder="Confirme su nueva contraseña"
          class="form-control"
          required
        />
        <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()" tabindex="-1">
          <i [ngClass]="confirmPasswordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      <small *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
        *Confirmación de contraseña es requerida
      </small>
      <small *ngIf="form.hasError('passwordsMismatch') && form.get('confirmPassword')?.touched">
        *Las contraseñas no coinciden
      </small>

      <div class="button-container">
        <button type="submit" class="boton-form" [disabled]="form.invalid">Cambiar contraseña</button>
      </div>

      <div *ngIf="message" class="text-success">{{ message }}</div>
      <div *ngIf="error" class="text-danger">{{ error }}</div>
    </div>
  </form>
</div>