@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-form {
    background: url('../../assets/images/fondo.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.form, .confirmation {
    background-color: #1E1E1E;
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h2, h3 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    text-align: left;
    color: #FFFFFF;
}

input.form-control {
    width: 100%;
    border: 2px solid #000;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    box-shadow: none;
    background-color: #D9D9D9 !important;
}

input.form-control::placeholder {
    color: #6D6D6D;
}

input.form-control:focus {
    border-color: #ff0000;
}

.text-danger {
    color: #dc3545;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
}

p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #FFFFFF;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
    margin: 0.5rem;
    letter-spacing: 1px;
}

.boton-form {
    background-color: #F2B251;
    color: #000000;
}

.boton-form:hover {
    background-color: #D99E3A;
}

.boton-form2 {
    background-color: #008BCE; 
    color: white; 
}

.boton-form2:hover {
    background-color: #006F99;
}

@media (max-width: 1024px) {
    .form, .confirmation {
        padding: 2rem;
        max-width: 90%;
    }

    h2, h3 {
        font-size: 2rem;
    }

    label, p {
        font-size: 1.1rem;
    }

    input.form-control, button {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .form, .confirmation {
        padding: 1.5rem;
    }
    
    h2, h3 {
        font-size: 1.7rem;
    }

    label, p {
        font-size: 1rem;
    }

    input.form-control, button {
        font-size: 1rem;
    }

    button {
        width: 100%;
        margin: 0.5rem 0;
    }
}